.forgotten {
    display: block;
    margin-top: 16px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 1px solid #bfbfbf;
}

.ng-invalid[required], .ng-invalid.required  {
    border-left: 1px solid #bfbfbf;
}

@media (min-width: 1024px) {
    .forgotten {
        margin-top: initial;
        display: inline-block;
    }    
}
