<form #credentialsForm="ngForm">
  <div class="form-group">
    <label for="username">{{ i18n.login.username }}</label>
    <input [(ngModel)]="model.userName" name="username" id="username" type="text" required #username="ngModel" />
  </div>
  <div class="form-group">
      <label for="passowrd">{{ i18n.login.password }}</label>
      <input [(ngModel)]="model.password" name="passowrd" id="passowrd" [type]="isShowPassword ? 'text' : 'password'" required #password="ngModel" />
      <i *ngIf="!isShowPassword" (click)="togglePassword()" class="fas fa-eye-slash"></i>
      <i *ngIf="isShowPassword" (click)="togglePassword()" class="fas fa-eye"></i>
  </div>
  <button class="btn btn-primary" [disabled]="!credentialsForm.valid" (click)="submit()">{{ i18n.header.login }}</button>
  <a class="forgotten" (click)="showTBDModal()" href="javascript:void(0)">{{ i18n.login.forgotten }}</a>
  <ngx-smart-modal #tbdModal identifier="tbdModal">
    <p><strong>{{ i18n.dashboard.info.tbd }}</strong></p>
  </ngx-smart-modal>
</form>