<form #credentialsForm="ngForm">
  <div class="form-group">
    <label for="username">{{ i18n.login.username }}</label>
    <input [(ngModel)]="model.userName" name="username" id="username" type="text" required #username="ngModel" />
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
      <div *ngIf="username.errors.required">{{ i18n.login.errors.required }}</div>
    </div>
  </div>
  <div class="form-group">
      <label for="passowrd">{{ i18n.login.password }}</label>
      <input [(ngModel)]="model.password" name="passowrd" id="passowrd" [type]="isShowPassword ? 'text' : 'password'" required #password="ngModel" />
      <i *ngIf="!isShowPassword" (click)="togglePassword()" class="fas fa-eye-slash"></i>
      <i *ngIf="isShowPassword" (click)="togglePassword()" class="fas fa-eye"></i>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">{{ i18n.login.errors.required }}</div>
      </div>
  </div>
  <button class="btn btn-primary" [disabled]="!credentialsForm.valid" (click)="submit()">{{ i18n.header.login }}</button>
  <a class="forgotten" routerLink="/feedback">{{ i18n.login.forgotten }}</a>
</form>