section.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tile {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    background-color: #7ca1ca;
    margin: 0 16px 16px 0;
    width: 220px;
    height: 120px;
    border: 2px solid #7ca1ca;
    border-bottom-right-radius: 16px;
    line-height: 120px;
    vertical-align: middle;
    text-align: center;
    transform-origin: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.tile.zoom {
    transform: scale(1.1);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.tile.zoom:active {
    transform: scale(1);
}

.all-users-list {
    text-align: center;
    list-style: none;
    padding: 0;
}

.all-users-list li {
    position: relative;
    border-radius: 4px;
    background-color: #7ca1ca;
    color: white;
    margin: 8px auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 16px;
    width: 100%;
}

.all-users-list li span {
    display: block;
}
    
.all-users-list li button.delete {
    width: 50%;
    margin: 0 auto;
    margin-top: 16px;
    display: block;
    cursor: pointer;
}

.alert-text {
    padding-bottom: 16px;
    border-bottom: 2px solid red;
}

@media (min-width: 768px) {
    .all-users-list li button.delete {
        margin-left: 16px;
        width: initial;
        margin: initial;
        display: inline-block;
        padding: 2px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .all-users-list li {
        border-radius: 16px;
    }
    
    .all-users-list li span {
        display: inline-block;
    }
}

@media (min-width: 1024px) {
    .tile {
        width: 250px;
        height: 150px;
        line-height: 150px;
    }
}