<section class="main">
  <div (click)="showAllUsersModal()" *ngIf="role === 'ADMIN'" class="tile all-users" appLoggedElement>{{ i18n.dashboard.main.allUsers }}</div>
  <div (click)="showTBDModal()" class="tile subjects" appLoggedElement>{{ i18n.dashboard.main.subjects }}</div>
  <div (click)="showTBDModal()" class="tile download" appLoggedElement>{{ i18n.dashboard.main.download }}</div>
  <div (click)="showTBDModal()" class="tile upload" appLoggedElement>{{ i18n.dashboard.main.upload }}</div>
  <ngx-smart-modal #tbdModal identifier="tbdModal">
    <p><strong>{{ i18n.dashboard.info.tbd }}</strong></p>
  </ngx-smart-modal>
  <ngx-smart-modal #allUsersModal identifier="allUsersModal">
    <p class="alert-text">{{ i18n.dashboard.info.adminDelete }}</p>
    <ul class="all-users-list">
      <li *ngFor="let user of allUsers">
        <span>{{ user?.fullName }}</span>
        <span>&nbsp;({{ user?.userName }})</span>
        <span>&nbsp;-&nbsp;{{ user?.role}}</span>
        <button (click)="deleteUser(user.id)" class="delete btn btn-danger" appLoggedElement>X</button>
      </li>
    </ul>
  </ngx-smart-modal>
</section>
