.layout {
    background-color: #f5f5f5;
}

.register {
    padding: 32px;
}

.register-form {
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 64px;
}

@media (min-width: 1024px) {
    .register-form {
        width: 50%;
    }
        
}