<footer>
    <div class="feed">
        <h2>{{ i18n.footer.news.title }}</h2>
        <p>{{ i18n.footer.news.feed }}: <a href="https://newsapi.org/" target="_blank"><em>News API</em></a></p>
        <ul *ngIf="!!news">
            <li *ngFor="let item of news" class="news">
                <h4><a [href]="item.url" target="_blank">{{ item.title }}</a></h4>
                <p *ngIf="!!item.short else noText">{{ item.short }}</p>
                <ng-template #noText><p>{{ i18n.footer.news.noText }}</p></ng-template>
            </li>
        </ul>
    </div>
    <div class="space">
        <img src="../../../assets/images/owl.png" alt="Placeholder">
    </div>
    <div class="info">
        <div class="supported-browsers">
            <strong>{{ i18n.footer.aside.supportedBrowsers }}:</strong>
            <ul>
                <li>Google Chrome</li>
                <li>Microsoft Edge</li>
                <li>Mozilla Firefox</li>
            </ul>
        </div>
        <div class="devs">
            <strong>{{ i18n.footer.aside.team }}:</strong>
            <ul>
                <li>Balázs Bardócz</li>
                <li>István Gégény</li>
                <li>Jordán Szalontai</li>
                <li>Norbert Gagyi</li>
            </ul>
        </div>
        <div class="version"><strong>{{ i18n.footer.aside.version }}:</strong> 0.0.0</div>
        <div class="date"><strong>{{ i18n.footer.aside.date.text }}:</strong> {{ i18n.footer.aside.date.display }}</div>
    </div>
</footer>
