footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #4e4a6b;
}

.space, .info, .feed {
    border-radius: 4px;
    flex-grow: 1;
    flex-basis: 0;
}

.space {
    max-width: 300px;
}

.info {
    max-width: 300px;
    color: #fff;
}

.info > div {
    width: 150px;
    margin: 0 auto;
}

.feed {
    margin: 0 16px;
    padding: 16px;
    background-color: #fff;
    height: 300px;
    overflow-y: scroll;
}

.feed ul {
    list-style: none;
    padding: 0;
}

.feed ul li a {
    text-decoration: none;
}

.feed h4 {
    margin-bottom: 0;
}

.feed p {
    margin-top: 8px;
    margin-bottom: 16px;
}
