footer {
    padding: 16px;
    background-color: #4e4a6b;
}

.space {
    max-width: 300px;
}

.info {
    max-width: 300px;
    color: #fff;
}

.info > div {
    width: 150px;
    margin: 0 auto;
}

.info ul, .info div {
    list-style: none;
    padding: 0;
    text-align: center;
}

.space, .info, .feed {
    border-radius: 4px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.feed {
    margin: 0 16px;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #fff;
    height: 300px;
    overflow-y: scroll;
}

.feed ul {
    list-style: none;
    padding: 0;
}

.feed ul li a {
    text-decoration: none;
}

.feed h4 {
    margin-bottom: 0;
}

.feed p {
    margin-top: 8px;
    margin-bottom: 16px;
}

@media (min-width: 1024px) {
    footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .space, .info, .feed {
        border-radius: 4px;
        flex-grow: 1;
        flex-basis: 0;
        margin-bottom: 0;
    }
    

}
