<div class="layout">
    <section class="dashboard">
        <div class="personal">
            <app-dashboard-info (editUser)="updateUser($event)" (deleteUser)="deleteUser()" [user]="currentUser"></app-dashboard-info>
        </div>
        <main class="features">
            <app-dashboard-main (delete)="deleteUserById($event)" [allUsers]="allUsers" [role]="currentUser.role"></app-dashboard-main>
        </main>
        <div class="log">
            <app-dashboard-log></app-dashboard-log>
        </div>
    </section>
</div>
