<header>
    <div class="logo">
        <div class="i18n">
            <div [ngClass]="{active: locale == 'hu'}" class="flag hu"><button (click)="enableHungarian()"></button></div>
            <div [ngClass]="{active: locale == 'gb'}"class="flag gb"><button (click)="enableEnglish()"></button></div>
        </div>
        <img src="../../../assets/images/logo.jpg" alt="RFT Valami" />
    </div>
    <nav class="main-navigation">
        <ul>
            <li *ngIf="isLoggedIn && isFeedbackScreen"><a class="link" routerLink="dashboard" appLoggedElement>{{ i18n.header.dashboard }}</a></li>
            <li *ngIf="!isFeedbackScreen"><a routerLink="/feedback" appLoggedElement>{{ i18n.header.feedback }}</a></li>
            <li *ngIf="!isLoggedIn && !isLoginScreen"><a class="link" routerLink="/login" appLoggedElement>{{ i18n.header.login }}</a></li>
            <li *ngIf="isLoggedIn"><a class="link" (click)="logout()" appLoggedElement>{{ i18n.header.logout }}</a></li>
            <li *ngIf="isLoginScreen"><a class="link" routerLink="register" appLoggedElement>{{ i18n.header.register }}</a></li>
        </ul>
    </nav>
</header>
