section.login {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.login > div[class] {
    flex-grow: 1;
    flex-basis: 0;
    padding: 16px;
    max-width: 33%;
}

.login > div[class]:not(:last-child) {
    margin-right: 32px;
}

.description {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.description h1 {
    margin-bottom: 32px;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 16px;
}

.image {
    max-width: 332px;
    text-align: center;
}

.credentials h1 {
    text-align: center;
    margin-bottom: 64px;
}