<div class="layout">
    <section class="login">
        <div class="description">
            <h1>{{ i18n.login.description.title }}</h1>
            <div *ngFor="let item of i18n.login.description.text">
                <h2>{{ item.title }}</h2>
                <p>{{ item.short }}</p>
            </div>
        </div>
        <div class="credentials">
            <h1><span>{{ i18n.login.title | uppercase }}</span></h1>
            <app-credential-form (login)="login($event)"></app-credential-form>
        </div>
        <div class="image">
            <img src="https://via.placeholder.com/400x500" alt="Placeholder">
        </div>
    </section>
</div>
