@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 8px 0;
}

h1 {
    font-size: 24px;
}

.layout {
    padding: 16px;
}

section {
    padding: 16px;
}

.form-group {
    position: relative;
    margin-bottom: 16px;
}

.form-group label {
    display: block;
    font-size: 18px;
    margin: 8px 0;
}

.form-group input[type] {
    height: 48px;
    width: 100%;
    font-size: 18px;
    padding-left: 8px;
    margin-bottom: 8px;
}

.form-group input[type] + i {
    font-size: 18px;
    position: absolute;
    right: 8px;
    top: 38px;
    transform: translateX(-50%);
}

.form-group textarea {
    width: 100%;
}

.outer-form-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: space-between;
}

.outer-form-group .form-group {
    width: 50%;

}

.outer-form-group .form-group:not(:last-child) {
    margin-right: 32px;
}

a.link {
    cursor: pointer;
}

/* copied from bootstrap */
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-link {
    font-weight: 400;
    color: #007bff;
    background-color: transparent;
}

.btn:disabled {
    pointer-events: none;
    opacity: 0.75;
}

/* end copied from bootstrap*/

i[class*="fa-eye"] {
    cursor: pointer;
}

.forgotten {
    margin-left: 8px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
}

.ng-invalid[required], .ng-invalid.required  {
    border-left: 5px solid rgb(169, 66, 66); 
}
